<div id="home" class="page">
	<div class="content">
		<div class="row">
		<div class="col l3">
		<img src="<%= data.home[0].block1_image %>"/>
			<h5><%= data.home[0].block1_title %></h5>
				<p><%= data.home[0].block1_content %></p>
		</div>
		<div class="col l3">
		<img src="<%= data.home[0].block2_image %>"/>
			<h5><%= data.home[0].block2_title %></h5>
				<p><%= data.home[0].block2_content %></p>
		</div>
		<div class="col l3">
		<img src="<%= data.home[0].block3_image %>"/>
			<h5><%= data.home[0].block3_title %></h5>
				<p><%= data.home[0].block3_content%></p>
		</div>
		<div class="col l3">
		<img src="<%= data.home[0].block4_image %>"/>
			<h5><%= data.home[0].block4_title %></h5>
				<p><%= data.home[0].block4_content %></p>
		</div>
			 
	</div>
	</div>
</div>

